/* =============================AccordianInTailwind==================== */
accordion {
  width: 100%;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  background-color: #5f9ea0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  padding: 0;
  background-color: rgb(124, 182, 184);
  transition: all 0.8s ease-in-out;
}

.accordion-content.open {
  max-height: 300px;
  transform: scale(1);
  padding: 20px;
}
/* =============================AccordianInTailwind==================== */

/* =============================Swiper-SLider==================== */
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper {
  position: relative !important;
}

.swiper-slide {
  transform: scale(0.8) !important;
}
.swiper-slide-active {
  transform: scale(1.5) !important;
  z-index: 10 !important;
}
.swiper-slide-next {
  transform: scale(0.9) translateX(58px) !important;
  z-index: 3 !important;
}
.swiper-slide-prev {
  transform: scale(0.9) translateX(-58px) !important;
  z-index: 3 !important;
}
/* =============================Swiper-SLider==================== */
/* =============================Form-Validation==================== */
/* .registration-form {
  max-width: 400px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error {
  border-color: #ff0000;
}
.error-message {
  color: #ff0000;
  margin-top: 5px;
}
.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #0056b3;
}
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.success-popup p {
  margin-bottom: 10px;
}
.success-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.success-popup button:hover {
  background-color: #0056b3;
} */
/* =============================Form-Validation==================== */
